<mat-toolbar class="navbar">
    <!-- myFlix button -->
    <button
        class="logo-button"
        mat-button
        (click)="openMovies()"
    >
        myFlix
    </button>

    <!-- Spacer between logo and icons -->
    <span class="spacer"></span>

    <!-- Movies button -->
    <button
        class="navbar-button"
        mat-button
        (click)="openMovies()"
    >
        <mat-icon>local_movies</mat-icon>
    </button>

    <!-- Profile button -->
    <button
        class="navbar-button"
        mat-button
        (click)="openProfile()"
    >
        <mat-icon>account_circle</mat-icon>
    </button>

    <!-- Logout button -->
    <button
        class="navbar-button"
        mat-button
        (click)="logoutUser()"
    >
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
