<mat-toolbar class="navbar" role="heading">
    <!-- myFlix button -->
    <button
        class="logo-button"
        mat-button
        (click)="openMovies()"
    >
        myFlix
    </button>

    <!-- Movies button -->
    <button
        class="navbar-button"
        mat-button
        (click)="openMovies()"
    >
        Movies
    </button>

    <!-- Profile button -->
    <button
        class="navbar-button"
        mat-button
        (click)="openProfile()"
    >
        Profile
    </button>

    <!-- Logout button -->
    <button
        class="navbar-button"
        mat-button
        (click)="logoutUser()"
    >
        Logout
    </button>
</mat-toolbar>
