<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Director: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        
        <img src={{movie.ImagePath}} alt="{{movie.Title}}" />

        <mat-card-actions>
            <!-- Genre button -->
            <button
                mat-button
                color="primary"
            >
                Genre
            </button>

            <!-- Director button -->
            <button
                mat-button
                color="primary"
            >
                Director
            </button>

            <!-- Description button -->
            <button
                mat-button
                color="primary"
            >
                Description
            </button>

            <!-- Add to Favorites icon -->
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>

    </mat-card>
</div>