<navbar></navbar>

<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
            <mat-card-subtitle>Director: {{ movie.Director.Name }}</mat-card-subtitle>
        </mat-card-header>
        
        <img src={{ movie.ImagePath }} alt="{{ movie.Title }}" />

        <mat-card-actions>
            <!-- Description button -->
            <button
                mat-button
                (click)="openDescription(movie.Description)"
                color="primary"
            >
                Description
            </button>

            <!-- Director button -->
            <button
                mat-button
                (click)="openDirector(
                    movie.Director.Name,
                    movie.Director.Bio,
                    movie.Director.Birth,
                    movie.Director.Death
                )"
                color="primary"
            >
                Director
            </button>

            <!-- Genre button -->
            <button
                mat-button
                (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
                color="primary"
            >
                Genre
            </button>

            <!-- Add to Favorites icon -->
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>

    </mat-card>
</div>
