<navbar></navbar>

<div class="profile-container">
    <div class="profile-background">
        <h1>Profile</h1>

        <!-- User info -->
        <mat-card class="user-info">
            <!-- Username -->
            <mat-card-header class="user-info-header">
                <mat-card-title><span>Username:</span> {{ userData.Username }}</mat-card-title>
            </mat-card-header>
    
            <!-- User details -->
            <mat-card-content class="user-details">
                <p><span>Email:</span> {{ userData.Email }}</p>
    
                <p><span>Birthday:</span> {{ userData.Birthday | date: "longDate" : "UTC" }}</p>
            </mat-card-content>
        </mat-card>
    
        <!-- Update user info -->
        <mat-card class="update-user">
            <mat-card-header class="update-user-header">
                <mat-card-title>Update Profile</mat-card-title>
            </mat-card-header>
    
            <mat-card-content>
                <!-- Update user form -->
                <form>
                    <!-- Update username -->
                    <label class="form-label">Username</label>
    
                    <mat-form-field>
                        <input
                            matInput
                            [(ngModel)]="userData.Username"
                            placeholder="Username"
                            type="text"
                            name="Username"
                            required
                        >
                    </mat-form-field>
    
                    <br>
    
                    <!-- Update email -->
                    <label class="form-label">Email</label>
    
                    <mat-form-field class="input-field">
                        <input
                            matInput
                            [(ngModel)]="userData.Email"
                            placeholder="Email"
                            type="email"
                            name="Email"
                            required
                        >
                    </mat-form-field>
    
                    <br>
    
                    <!-- Update Birthday -->
                    <label class="form-label">Birthday</label>

                    <mat-form-field class="input-field">    
                        <input
                            matInput
                            [(ngModel)]="userData.Birthday"
                            placeholder="Birthday"
                            type="date"
                            name="Birthday"
                            required
                        >
                    </mat-form-field>
                </form>
    
                <!-- Update and Delete buttons -->
                <mat-card-actions class="button-container">
                    <button
                        class="update-button"
                        mat-raised-button
                        style="margin-right: 20px;"
                        (click)="updateProfile()"
                        type="submit"
                    >
                        Update
                    </button>
    
                    <button
                        class="delete-button"
                        mat-raised-button
                        (click)="deleteProfile()"
                        color="warn"
                    >
                        Delete account
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card> 
    </div>    

    <!-- Favorite movies -->
    <div class="favorite-movies">
        <h1>Favorites</h1>

        <!-- Empty favorites list -->
        <div
            class="empty-list"
            *ngIf="FavoriteMovies.length === 0"
        >
            <p>No favorites yet!</p>
        </div>

        <!-- Favorites list -->
        <div class="favorites-list">
            <mat-card *ngFor="let movie of FavoriteMovies;" class="movie-card">
                <div class="movie-details">
                    <mat-card-header class="card-header">
                        <mat-card-title class="card-title">{{ movie.Title }}</mat-card-title>
                        
                        <mat-card-subtitle class="card-subtitle">Director: {{ movie.Director.Name }}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <!-- Movie poster -->
                    <img
                        mat-card-image
                        [src]="movie.ImagePath"
                        [alt]="movie.Title"
                    />
    
                    <mat-card-actions class="card-actions">
                        <!-- Description button -->
                        <button
                            class="movie-button"
                            mat-button
                            (click)="openDescription(movie.Description)"
                        >
                            Description
                        </button>
    
                        <!-- Director button -->
                        <button
                            class="movie-button"
                            mat-button
                            (click)="openDirector(
                                movie.Director.Name,
                                movie.Director.Bio,
                                movie.Director.Birth,
                                movie.Director.Death
                            )"
                        >
                            Director
                        </button>
    
                        <!-- Genre button -->
                        <button
                            class="movie-button"
                            mat-button
                            (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
                        >
                            Genre
                        </button>
    
                        <!-- Delete favorite -->
                        <button
                            class="movie-button"
                            mat-icon-button
                            (click)="deleteFavorite(movie._id)"
                        >
                            <mat-icon>favorite</mat-icon>
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </div>
</div>
